recursive-include src/basesections_IKZ nomad_plugin.yaml
recursive-include src/movpe_IKZ nomad_plugin.yaml
recursive-include src/cz_IKZ nomad_plugin.yaml
recursive-include src/mbe_IKZ nomad_plugin.yaml
recursive-include src/ds_IKZ nomad_plugin.yaml
